.app{

    color: #01E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 1rem;
}

.img{

    animation: move 3s ;
    animation-iteration-count: infinite;
    border-radius: 50rem;
    margin-top: 2rem;

}


@keyframes move{
    0%{
        transform: rotateY(10deg);
        opacity: .3;
    }
    50%{
        transform: rotateY(160deg);
        opacity: .6;
    }
    100%{
        transform: translate(1);
        opacity: 1;
    }
}